$color_orange: #F47D31;
$color_darkOrange: #f1844d;
$color_black:#000000;
$color_white: #FFFFFF;
$color_blue: #0E14622C;
$color_darkBlue: #233f73;
$color_penBlue: #1C4A8C;
$color_blueOcean:#33ABD6;
$color_blueEye:#E7F6FF;
$color_lightBlue:#E7F6FF;
$color_gray:#ccc;