.menu{
    &__link{
        text-decoration: none;
        color: $color_black;
        @media(min-width: $tablet-min){
            &:hover{
                background-color:$color_orange;
                padding: 30px 0;
                color:$color-white;
            }
        }
    }
}