.menu{
    &__link{
        text-decoration: none;
        color: $color_black;
        @media(min-width: $tablet-min){
            &:hover{
                background-color:$color_orange;
                padding: 30px 0;
                color:$color-white;
            }
        }
    }
}
.faq{
    &__btnPosition{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }
    &__btn{
        text-decoration: none;
        color: $color_white;
        padding:12px 100px;
        border-radius: 30px;
        background-color: $color_darkOrange;
        @media (min-width:$tablet-min){
            padding:12px 350px;
        }
    }

}
.products{
    
    &__link{
        text-decoration: none;
        color: $color_white;
        padding:12px 60px;
        border-radius: 30px;
        background-color: $color_darkOrange;
        
       
    }
}
.blogCards{
    &__btn{
        display: flex;
        justify-content: center;
        padding-bottom:35px;
        
        @media (min-width:$tablet-min){
            display: flex;
            justify-content: start;
        }
    }
    &__link{
        text-decoration: none;
        color: $color_white;
        padding:12px 60px;
        border-radius: 30px;
        background-color: $color_darkOrange;
        
       
    }
}
.benefits{
    &__btnPosition{
        display: none;
        @media (min-width:$tablet-min){
            display: flex;
            justify-content: center;
            
        }
    }
    &__btn{
        text-decoration: none;
        color: $color_white;
        padding:12px 60px;
        border-radius: 30px;
        background-color: $color_darkOrange;
    }
}